@import url('main.css');

body {
	background-color: #f0ede7;
}
.footer {
	position: relative;
	top: 50px;
}
.about-block {
	background-color: #f0ede7;
	width: 60%;
	position: relative;
	left: 20%;
	top: 50px;
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 20px;
}