@import url('main.css');

.footer {
	position: fixed;
	width: 100%;
}
#map-canvas {
	height: 100%;
}
.stats {
	position: fixed;
	top: 15%;
	left: -210px;
	z-index: 3;
	width: 260px;
	height: 70%;
	background-color: #ffffff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}
.stats-open {
	left: -10px;
}
.stats .wrapper {
	margin: 10px 10px 10px 20px;
}
.stats-title {
	position: relative;
	left: 200px;
	width: 20px;
	height: 250px;
	padding-left: 10px;
	font-size: 150%;
	background-image: url('stats-title.png');
	background-repeat: no-repeat;
	background-position: 0px 35px;
}
.stats-content {
	position: absolute;
	top: 5%;
	left: 25px;
	width: 170px;
	height: 90%;
	padding-left: 10px;
	overflow: auto;
}
.achieve {
	position: fixed;
	top: 15%;
	right: -210px;
	z-index: 3;
	width: 260px;
	height: 70%;
	background-color: #ffffff;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
}
.achieve-open {
	right: -10px;
}
.achieve .wrapper {
	margin: 10px 20px 10px 10px;
}
.achieve-title {
	position: relative;
	left: 0px;
	width: 20px;
	height: 250px;
	padding-left: 10px;
	font-size: 150%;
	background-image: url('achieve-title.png');
	background-repeat: no-repeat;
	background-position: 0px 35px;
}
.achieve-content {
	position: absolute;
	top: 5%;
	left: 50px;
	width: 170px;
	height: 90%;
	padding-left: 10px;
	overflow: auto;
}
.mayr {
	position: fixed;
	bottom: 40px;
	width: 50%;
	left: 25%;
	z-index: 3;
}
.mayr img {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.mayr-talk {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 60px;
}
.mayr-talk span {
	display: block;
	padding: 10px;
	margin-right: 50px;
	text-align: center;
}
.ach-title {
	font-weight: bold;
	padding: 5px;
}
.ach-hint {
	font-size: smaller;
	padding: 5px;
}
.nothave {
	opacity: 0.3;
}
.stats-content h4 {
	display: inline;
}
.stat {
	margin: 5px;
	display: inline-block;
	width: 80%;
}
.substat {
	position: relative;
	left: 20px;
}
.foot-right {
	right: 30px;
}
.hidden {
	display: none;
}
.view-all {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: smaller;
}